

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- <a class="navbar-brand" routerLink="#">Navbar</a> -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="Product">Product</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="users">users</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="login">userlogin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register">userregestration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="post">post</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="comment">comment</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="notes">notes</a>
            </li>
           
        </ul>
        
    </div>
</nav>



<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
    
      
        <p class="masthead-subheading font-weight-light w-25"> Welcom To My Website</p>
    </div>
</header>


